*{
  margin: 0;
}

.contenedor{
  min-width: 500px;
  background-color: rgba(0, 0, 0, 0.92);
}

.App {
  text-align: center;
}
.textoB{
  font-family: 'Poppins', sans-serif !important;
}

.contenedorNotFound{
  padding-top: 4%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.imagenNotFound{
  width: 30%;
  height: 30%;
}

.nav{
  background-color: rgba(0, 0, 0, 0.922);
  min-width: 500px;
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid rgba(255, 255, 255, 0.612);
}

.row{
  margin-right: 0 !important;
}

.formulario{

  display: flex;
  align-items: center;
}

.box-flexbox{
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.fa-heart{
  color: red;
}

.btn-color{
  color: white !important;
  background-color: #04293A !important;
}

.btn-color:hover{
  background-color: #0b5b80b5 !important;
}

.card-body{
  background-color: rgba(0, 0, 0, 0.922);
}

.botonVolverArriba{
  position: fixed;
  bottom: 50px;
  right: 50px;
  height: 50px;
  width: 50px;
  color: white;
  background-color: #04293A;
  border: 2px solid white;
}

@media (min-width: 500px){
  
  .nav{
    display:flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px){
  
  .nav{
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .box-flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2px;
  }
}